* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000d1;
    font-family: sans-serif;
}
.container {
    position: relative;
    min-height: 100vh;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media (max-width: 768px){
    .content .card {
        flex-wrap: wrap;
    }
}
.content .card {
    width: 280px;
    height: 180px;
    padding: 10px;
    box-shadow: 3px 4px 19px 11px #00000059;
    margin-top: 30px;
    position: relative;
}
    .content .card .face-one {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: #2e2e2e;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: 0.5s;
    }
        .content .card:hover .face-one {
            transform: translateY(-50%);
            background-color: blue;
        }
            .content .card:hover .face-tow {
                transform: translateY(50%);
            }
            .content .card:hover .face-one i,
            .content .card:hover .face-one h3 {
                color: white;
            }
    .content .card .face-one i {
        color: #777;
        font-size: 100px;
        transition: 0.5s;
    }
        .content .card .face-one h3 {
            font-size: 30px;
            color: #777;
        }
    .content .card .face-tow {
        transform: translateY(0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        padding: 0 30px;
        transition: 0.5s;
    }
        .content .card .face-tow button {
            width: 50%;
            padding: 6px;
            border-radius: 20px;
            outline: none;
            border: 2px solid #140b7d;
            font-weight: bold;
            transition: 0.5s;
        }
        .content .card .face-tow button:hover {
            background: blue;
            color: white;
            cursor: pointer;
        }
    .content .card .face-tow p {
        font-weight: bold;
    }